<footer>
    <div class="fim">
      <h2 class="h2h2"> Atendimento </h2>
      <ul>
        <li>Horário de atendimento:</li>
        <li>08:00 às 20:00</li>
        <li>Segunda a Sábado,
          horário de Brasília</li>
      </ul>
    </div>

    <div class="fim">
      <h2 class="h2h2">FAQ - Orientações</h2>
      <a href="#"><img class="faq" src="/assets/imagens/icon-sac.png" alt=""></a>
      <ul>
        <li></li>
      </ul>
    </div>

    <div class="fim">
      <h2 class="h2h2">Minha Conta</h2>
      <ul>
        <li><a href="#">Meus Pedidos</a></li>
        <li><a href="#">Cadastro</a></li>
      </ul>
    </div>

    <div class="fim">
      <h2 class="h2h2">E-mail:</h2>
      <ul>
        <li>faleconosco@.com.br</li>
        <li>(11) 8888-8888</li>
      </ul>
    </div>


  </footer>
